**/.DS_Store
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
**/cmake-build-*/
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/out
**/compile_commands.json
**/.vs/
**/.idea/
**/bin/
**/obj/
